<script type="text/javascript">
    RED.nodes.registerType('<%= NODES_PREFIX %>-gateway configurator', {
        category: 'config',
        defaults: {
            name: {value: ""},
            sid: {value: ""},
            key: { value: "" },
            deviceList: {value:{}}
        },
        paletteLabel: "gateway configurator",
        label: function () {
            return this.name || "gateway configurator";
        },
        oneditprepare: function() {
            var foundGateways = RED.settings.miDevicesGatewayConfiguratorDiscoveredGateways;
            Object.keys(foundGateways).forEach(function(sid) {
                var gateway = foundGateways[sid];
                $('#discovered-gateways').append('<option value="' + gateway.sid + '">' + gateway.sid + ' - ' + gateway.ip + '</option>');
            });
            var node = this;

            var devicesConfig = {
                "mi.weather": {label:"weather", icon:"icons/node-red-contrib-mi-devices/thermometer-icon.png"},
                "mi.magnet": {label:"magnet", icon:"icons/node-red-contrib-mi-devices/door-icon.png"},
                "mi.motion": {label:"motion", icon:"icons/node-red-contrib-mi-devices/motion-icon.png"},
                "mi.switch": {label:"switch", icon:"icons/node-red-contrib-mi-devices/mi-switch.png"},
                "mi.plug": {label:"plug zigbee", icon:"icons/node-red-contrib-mi-devices/outlet-icon.png"}
            };

            $("#node-config-input-subdevices").css('min-height','250px').css('min-width','450px').editableList({
                addItem: function(container, i, device) {
                    var row = container;
                    $('<label/>',{for:"node-config-input-sid-"+i, style:"margin-left: 3px; width: 15px;vertical-align:middle"}).appendTo(row);
                    var sid = $('<input/>',{id:"node-config-input-sid-"+i,type:"text", placeholder:"SID", style:"width:auto;vertical-align:top"}).appendTo(row);
                    sid.typedInput({
                        default: 'mi.weather',
                        types: Object.keys(devicesConfig).map(function(type) {
                            var cleanType = devicesConfig[type];
                            cleanType.value = type;
                            return cleanType;
                        })
                    });
                    $('<label/>',{for:"node-config-input-desc-"+i, style:"margin-left: 7px; width: 20px;vertical-align:middle"}).html('<i class="fa fa-pencil-square-o"></i>').appendTo(row);
                    var desc = $('<input/>',{id:"node-config-input-desc-"+i, type:"text", placeholder:"name", style:"width:auto;vertical-align:top"}).appendTo(row);
                    sid.typedInput('value', device.sid);
                    sid.typedInput('type', device.internalModel);
                    desc.val(device.name);
                    container.parent().attr("data-sid", device.sid);
                },
                removeItem: function(device) {
                    $("#node-config-input-subdevices").find("[data-sid=" + device.sid + "]").remove();
                },
                sortable: false,
                removable: true
            });

            $('#discovered-gateways').on('change', function() {
                var sid = $('#discovered-gateways').val();

                $('#input-subdevices > *').remove();
                var gateway = sid && RED.settings.miDevicesGatewayConfiguratorDiscoveredGateways[sid];
                $("#node-config-input-sid").val(gateway && gateway.sid);
                $("#node-config-input-key").val(gateway && gateway.key);

                $("#node-config-input-subdevices").editableList('items').each(function(i, elt) {
                    $("#node-config-input-subdevices").editableList('removeItem', {sid: $(elt).find("#node-config-input-sid-"+i).val()});
                });
                var subdevices = gateway && Object.keys(gateway.subdevices).map(function(sid) { return gateway.subdevices[sid]; });
                subdevices && subdevices.sort(function(a, b) { return a.internalModel > b.internalModel; }).forEach(function(device) {
                    if(!devicesConfig[device.internalModel] || !device.sid) {
                        return;
                    }
                    if(node.deviceList[device.sid]) {
                        device.name = node.deviceList[device.sid].name;
                    }
                    $("#node-config-input-subdevices").editableList('addItem', {
                        sid: device.sid,
                        internalModel: device.internalModel,
                        name: device.name
                    });
                });
                var listHeight = $("#node-config-input-subdevices").editableList('items').size() * 51 + 50;
                $("#node-config-input-subdevices").editableList('height', listHeight);
            });

            Object.keys(this.deviceList || {}).forEach(function(sid) {
                var device = node.deviceList[sid];
                $("#node-config-input-subdevices").editableList('addItem', {
                    sid: sid,
                    internalModel: device.internalModel,
                    name: device.name
                });
            });

            var listHeight = $("#node-config-input-subdevices").editableList('items').size() * 51 + 50;
            $("#node-config-input-subdevices").editableList('height', listHeight);
        },
        oneditsave: function() {
            var node = this;
            var devices = $("#node-config-input-subdevices").editableList('items');

            devices.each(function(i, elt) {
                var deviceElement = $(elt);
                var sid = deviceElement.find("#node-config-input-sid-"+i).val();
                var desc = deviceElement.find("#node-config-input-desc-"+i).val();
                var internalModel = deviceElement.find("#node-config-input-sid-"+i).typedInput('type');
                node.deviceList[sid] = {internalModel: internalModel, name: desc};
            });
        }
    });
</script>

<script type="text/x-red" data-template-name="<%= NODES_PREFIX %>-gateway configurator">
    <div class="form-row">
        <label for="discovered-gateways"><i class="fa fa-search"></i> Found gateways</label>
        <select id="discovered-gateways">
            <option>- Select -</option>
        </select>
    </div>
    <hr>
    <h4>Gateway</h4>
    <div class="form-row">
        <label for="node-config-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-config-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-config-input-sid"><i class="fa fa-barcode"></i> SID</label>
        <input type="text" id="node-config-input-sid" placeholder="sid">
    </div>
    <div class="form-row">
        <label for="node-input-gatewayKey"><i class="fa fa-key"></i> Key</label>
        <input type="text" id="node-config-input-key" placeholder="Key">
    </div>
    <h4>Devices</h4>
    <div class="form-row node-config-input-subdevices">
        <ol id="node-config-input-subdevices"></ol>
    </div>
</script>

<script type="text/x-red" data-help-name="<%= NODES_PREFIX %>-gateway configurator">
    <p>Gateway configuration for Xiaomi nodes.</p>
    <h3>Details</h3>
    <p>This configuration node is used by the Xiaomi device nodes. Here you can add
    devices with their device-id (SID), type and a description.</p>
    <p>At the moment the following devices are supported:
    <lu>
        <li>Humidity & Temperature sensor [sensor ht/]</li>
        <li>Body motion sensor [motion]</li>
        <li>Magnet contact sensor [contact]</li>
        <li>Wall socket plug (zigbee) [plug]</li>
        <li>Push button [switch]</li>
    </lu>
    </p>
    <p>To be able to receive messages from the Xiaomi gateway, you need to set the gateway
    in developer mode. Once in developer mode, the gateway sends JSON messages over the network as
    UDP packages. On the internet their are a lot of guides on how to put the gateway in developer mode.</p>
    <p>If you want to use the wall sockets, you need to set the key from the gateway. The key can be
    retrieved via the Xiaomi Home App when in developer mode. Enter the key here and it is used
    together with the token from the gateway's heartbeat message to recalculate the key to switch
    the plug. If you do not specify a key, the plug-node can not be used.</p>
</script>
